* {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab_list {
  width: 1000px;
  height: 50px;
  background-color: pink;
  margin: 0 auto;
}

ul {
  display: flex;
  justify-content: space-between;
}

ul li a {
  width: 200px;
  height: 50px;

  display: block;
  text-align: center;
  line-height: 50px;
  color: white;
  text-decoration: none;
}

ul li a:hover {
  background-color: green;
}

.tab_con {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
}